/* The cell */

:host {
    float: left;
    position: relative;
    width: 33%;
    padding-bottom: 33%;
    margin: 0px;
    overflow: hidden;
}

.content {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
    text-align: center;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

/* Naught and cross */
.naught {
    height: 100%;
    border: 10px solid red;
    border-radius: 50%;
}

.cross {
    height:0px;
    border: 7px solid green;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cross::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height:0px;
    border: 7px solid green;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}