:host {
    float: left;
    position: relative;
    width: 33.33%;
    padding-bottom: 33.33%;
    margin: 0px;
    overflow: hidden;
}

.content {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
    text-align: center;
}

.naught {
    fill: transparent; 
    stroke: #8600B2; 
    stroke-width: 12.5;
}

.cross {
    fill: #0086B2;
}