/* The cell */

:host {
    float: left;
    position: relative;
    width: 33%;
    padding-bottom: 33%;
    margin: 0px;
    overflow: hidden;
}

.content {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
    text-align: center;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}


/* Naught and cross */

.naught {
    height: 100%;
    background: green;
    background: radial-gradient(transparent 62%, green 62.5%, green 69.5%, transparent 70%);
}

.cross {
    height: 100%;
    background: linear-gradient(to top left, transparent 48%, red 48.3%, red 51.7%, transparent 52%), linear-gradient(to top right, transparent 48%, red 48.3%, red 51.7%, transparent 52%);
}