app-cell {
    background: lightgray;
    box-sizing: border-box;
}

.has-bottom {
    border-bottom: solid 1px black;
}

.has-top {
    border-top: solid 1px black;
}

.has-right {
    border-right: solid 1px black;
}

.has-left {
    border-left: solid 1px black;
}