.has-bottom {
    border-bottom: solid 1px black;
}

.has-top {
    border-top: solid 1px black;
}

.has-right {
    border-right: solid 1px black;
}

.has-left {
    border-left: solid 1px black;
}

/* TODO: Make the width and height (padding) dependant on the number of rows and columns */
.column {
    width: 33%;
    height: 0;
    padding-bottom: 33%;
    margin: 0px;
    text-align: center;
}